

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
    font-size:25px;
  }
  
  .btn-1 {
    border-color: #ff9800;
    color: orange;
  }
  
  .btn-1:hover {
    background: #ff9800;
    color: white;
  }
  
  .btn-2 {
    border-color: #f44336;
    color: red;
  }
  
  .btn-2:hover {
    background: #f44336;
    color: white;
  }